* {
    font-family: 'Roboto', sans-serif;
   
}
body {
    display: flex; 
    justify-content: center;
}
#content {
    width: 30%;
}
#formBox {
    
    font-weight: lighter;
    border: 1px solid lightGrey;
  border-radius: 8px;
  padding: 5%;
}


input[type=tel]{
    width: 90%;
    border: 1px solid lightGrey;
    margin: 5px 0;
    font-size: 1rem;
    color: #lightGrey;
    padding: 3%;
    border-radius: 4px;
  }

input:focus{
    outline: none;
}
#invalid {
    font-size: .8em;
    font-weight: lighter;
    color: red;
}

#submitBtn {
 
  border-radius: 8px;
  border-width: 0;
  color: #grey;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 10px 12px;
  width: 40%;
  
 

}