* {
    font-family: 'Roboto', sans-serif;
   
}

#content {
    width: 30%;
}
#formBox {
    font-weight: lighter;
    border: 1px solid lightGrey;
  border-radius: 8px;
  padding: 5%;
}


input[type=tel]{
    width: 90%;
    border: 1px solid lightGrey;
    margin: 5px 0;
    font-size: 1rem;
    color: #lightGrey;
    padding: 3%;
    border-radius: 4px;
  }

input:focus{
    outline: none;
}
#invalid {
    font-size: .8em;
    font-weight: lighter;
    color: red;
}